# Compiled files
*.o
*.out
*.exe

# Object files
*.obj

# Precompiled Headers
*.pch

# Dynamic Libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lib
*.a

# Binary files
*.bin
*.zip
*.rar
*.tar.gz

# Logs and databases
*.log
*.sql
*.sqlite

# Visual Studio Code directories
.vscode/

# macOS specific files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# Compiled files from Visual Studio
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.suo
*.pdb

# Sublime Text project files
*.sublime-work
